.profile-header {
    margin-left: 700px;
    padding-bottom: 40%;
}
.talk1 {
    border-top: 4px solid;
    color: slateblue;
}

.name {
    margin-top: 50px;
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 1.8em;
    font-style: italic;
    font-family: 'Merriweather', serif;
}
.description1{
    margin-left: 30px;
    font-size: 20px;
}

.talk2 {
    margin-top: 100px;
    border-top: 4px solid;
    color: slateblue;
}

.description2{
    margin-top: 50px;
    margin-left: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
